html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  height: 100vh;
}

#root {
  padding-top: 70px;
}

button {
  border: 1px solid gray;
  flex: 1;
  padding: 20px 10px;
}

.zeroButton {
  flex: 2;
  padding: 20px 22px;
}

.lastButton {
  background-color: rgb(223, 167, 47);
}
